<header>

    <div class="header-div">
        <div class="div-heading">
            <span>Codeial</span>
        </div>
        <div class="div-list">
    <ul>
        <% if(locals.user){%>
              
            <li>
                <%= user.name %>
            </li>
            <li>
                <a href="/users/signout">sign Out</a>
            </li>

            <% } else{ %>

                <li>
                    <a href="/users/signin">Sign In</a>
                </li>
                <li>
                    <a href="/users/signup">Sign Up</a>
                </li>


                <% } %>

    </ul>
        </div>

</div>


</header>