
<h1>Sign UP page </h1>
<form action="/user/create" method="POST">
    <input type="text" name="name" placeholder="enter name">
    <input type="email" name="email" placeholder="abc@gmail.com">
    <input type="password" name="password">
    <input type="password" name="confirm">
    <input type="submit" value="signup">
</form>