
<h1> Sign In page</h1>


<form action="/users/create-session" method="POST">
   
    <input type="email" name="email" placeholder="abc@gmail.com">
    <input type="password" name="password">
  
    <input type="submit" value="signin">
</form>
<p>

    <a href="/users/auth/google">Google signin/signup</a>
</p>